<div class="animated fadeInUp row">
    <div class="col-sm-12">
        <app-history-filter
                [filter]="filter"
                (onFilterChange)="onFilterChangeHandler($event)"></app-history-filter>
    </div>
    <div class="col-sm-12">
        <app-responsive-table
                [dataSource]="approvalHistoryData?.recordsCol"
                [fieldSet]="fieldSet"></app-responsive-table>
    </div>
    <div class="col-sm-12 text-center">
        <pagination
                [boundaryLinks]="true"
                [totalItems]="totalItems"
                [(ngModel)]="currentPage"
                [itemsPerPage]="filter.count"
                [maxSize]="5"
                (pageChanged)="onPageChanged($event)"
                class="pagination-sm"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;"></pagination>

    </div>
</div>