<nav class="row navbar navbar-default animated fadeInDown navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="home">
        <span class="logo"><img src="images/wso2telco_logo.png" ></span>
        <span class="name"><span class="man">WORKFLOW MANAGER</span></span>
      </a>
      <app-hamburger-menu></app-hamburger-menu>
    </div>

    <div class="navbar-right text-right">
      <app-user-avatar></app-user-avatar>
    </div>
  </div>
</nav>


<!--<nav>
  <button (click)="onLogoutClick()">logout</button>
</nav>-->
