@import "../../../../styles/colors";

:host{
  display: block;
}
.table-wrapper{
  padding: 10px;
  border: solid 1px $gray_lighter;
  background-color: white;
  width: 100%;

  .tbl-header{
    font-weight: 600;
    font-size: 1.3em;
    padding: 5px 0px 15px;
  }

  .table{
    display: table;
    width: 100%;

    @media only screen and (max-width : 768px) {
      display: block;
    }

    .tbl-row{
      display: table-row;
      background-color: #f6f6f6;

      &:nth-of-type(odd){
        background-color: white;
      }

      &.header{
        background-color: $gray_4;
        font-weight:600;
      }

      @media only screen and (max-width : 768px) {
        display: block;
      }

      .tbl-cell{
        display: table-cell;
        padding: 10px 10px;
        @media only screen and (max-width : 768px) {
          display: block;
        }
      }
    }
  }
}
