$primary-color_main : #14354C;
$primary-color_menu : #1b4665;
$primary-color_light : #164e6a;

$accent-light-color : #e1a637;
$accent-color : #E19131;
$accent-dark-color : #c1711d;

$secondary_color : #32c5d2;


$white_dark : #f5f5f5;

$gray_lighter : #e7ecf1;
$gray_light : #dfdfdf;
$gray : #8A98A0;
$gray-dark : #7a8ca5;


$error-red : #bb3535;
$warning : #e1a10c;
$success : #107124;

$gray_0 :#f8f9fa;
$gray_1 : #f1f3f5;
$gray_2 : #e9ecef;
$gray_3 : #dee2e6;
$gray_4 : #ced4da;
$gray_5 : #adb5bd;
$gray_6 : #868e96;
$gray_7 : #495057;
$gray_8 : #343a40;
$gray_9 : #212529;
