//TopBar
$topbar-height : 70px;
$app-min-width : 500px;

$animation-duration : 0.8s;

//Hamburger Menu settings
$hm-bar-width: 25px;
$hm-bar-height: 2px;
$hm-bar-spacing: 10px;

//Menu Bar
$main-menu-default-width : 50px;
$main-menu-expanded-width : 285px;
$main-menu-icon-height : 46px;

//Breadcrumbs
$main-breadcrumbs-height : 46px;

