<div class="row">
  <app-approval-count class="col-sm-6 apps"
                      [totalCount]="appDetailsSummery?.totalAppCreations"
                      [myCount]="appDetailsSummery?.appCreationsForUser"
                      [groupCount]="appDetailsSummery?.appCreationsForGroup"
                      iconClass="apps"
                      name="Application Creations"
                      (click)="onCountClick('APPLICATIONS')"></app-approval-count>

  <app-approval-count class="col-sm-6 subs"
                      [totalCount]="appDetailsSummery?.totalSubCreations"
                      [myCount]="appDetailsSummery?.subCreationsForUser"
                      [groupCount]="appDetailsSummery?.subCreationsForGroup"
                      iconClass="subscriptions"
                      name="Subscription Creations"
                      (click)="onCountClick('SUBSCRIPTIONS')"></app-approval-count>
</div>
